

/* NOTES 
6 sections total:
    1. Header
    2. Main Text
    3. Some Random Information
    4. Quote/Testimonial
    5. Call to action 
    6. Footer
*/

body {
    background-color: #1f2937;
}

/* HEADER START */
.header {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.left {
    font-size: 24px;
    font-weight: bolder;
    padding: -8px;

}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    color: white;
}
/* HEADER END */


/* MAIN START */
.main {
    padding: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.main-left {
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: -18px;
}

.main-text {
    color: #e5e7eb;
}
.sign-up-one {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
  }

.main-right {
    background-color:  #e5e7eb;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 150px;
    padding-right: 150px;


  
}
/* MAIN END */


/* INFORMATION START */
.info-h2 {
    background-color: white;
    display: flex;
    justify-content: center;
    margin-bottom: -60px;
}

.info-container {
    background-color: white;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom:80px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    gap: 10px;
}

.info-box {
    width: 100px;
    height: 100px;
    border: 4px solid #3882f6;
    border-radius: 5px;
    max-width: 200px;
}
/* INFORMATION END */

/* QUOTE START */
.quote {
    background-color: #e5e7eb;
    padding-top: 100px;
    padding-bottom:80px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    max-width: 800px;
}
.quote-credit {
    font-weight: bolder;
    margin-left: 500px;
}
/* QUOTE END */


/* CALL TO ACTION START*/
.call {
    background-color: white;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: auto;
}
.call-box {
    background-color: #3882f6;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
    margin-bottom: -16px;
    font-weight: bolder;
}


.sign-up-two {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid white;
    color: white;
}
/* CALL TO ACTION END*/


/* FOOTER START*/
.footer {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}
/* FOOTER END*/




