

/* NOTES 
6 sections total:
    1. Header
    2. Main Text
    3. Some Random Information
    4. Quote/Testimonial
    5. Call to action 
    6. Footer
*/

body {
    background-color: #1f2937;
}

/* HEADER START */
.header {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.left {
    font-size: 24px;
    font-weight: bolder;
    padding: -8px;

}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    color: white;
}
/* HEADER END */


/* MAIN START */
.main {
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin: 100px;
}

.main-left {
    color: white;
}

.main-right {
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
  }
/* MAIN END */


/* INFORMATION START */
.info-h2 {
    background-color: white;
    display: flex;
    justify-content: center;
    margin-bottom: -50px;
}

.info-container {
    background-color: white;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom:50px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.info-box {
    width: 30px;
    height: 30px;
    border: 2px royalblue
}

/* INFORMATION END */

.quote {

}

.call {
    display: flex;
}

.footer {

}




